# Copyright(c) 2026, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config ZEPHYR_HAL_REALTEK_BEE_MODULE
	bool

config HAL_REALTEK_BEE_ADC
	bool "Realtek Bee ADC HAL"

config HAL_REALTEK_BEE_BT
	bool "Realtek Bee BT HAL"

config HAL_REALTEK_BEE_CAN
	bool "Realtek Bee CAN HAL"

config HAL_REALTEK_BEE_CODEC
	bool "Realtek Bee CODEC HAL"

config HAL_REALTEK_BEE_DMA
	bool "Realtek Bee DMA HAL"

config HAL_REALTEK_BEE_GPIO
	bool "Realtek Bee GPIO HAL"

config HAL_REALTEK_BEE_GRTC
	bool "Realtek Bee GRTC HAL"

config HAL_REALTEK_BEE_I2C
	bool "Realtek Bee I2C HAL"

config HAL_REALTEK_BEE_I2S
	bool "Realtek Bee I2S HAL"

config HAL_REALTEK_BEE_IR
	bool "Realtek Bee IR HAL"

config HAL_REALTEK_BEE_KEYSCAN
	bool "Realtek Bee KeyScan HAL"

config HAL_REALTEK_BEE_NVIC
	bool "Realtek Bee NVIC HAL"

config HAL_REALTEK_BEE_PINMUX
	bool "Realtek Bee Pinmux HAL"

config HAL_REALTEK_BEE_PWM
	bool "Realtek Bee PWM HAL"

config HAL_REALTEK_BEE_AON_QDEC
	bool "Realtek Bee AON QDEC HAL"

config HAL_REALTEK_BEE_QDEC
	bool "Realtek Bee QDEC HAL"

config HAL_REALTEK_BEE_LPQDEC
	bool "Realtek Bee Low-Power QDEC HAL"

config HAL_REALTEK_BEE_RCC
	bool "Realtek Bee RCC HAL"

config HAL_REALTEK_BEE_RTC
	bool "Realtek Bee RTC HAL"

config HAL_REALTEK_BEE_SDHC
	bool "Realtek Bee SDHC HAL"

config HAL_REALTEK_BEE_SPI
	bool "Realtek Bee SPI HAL"

config HAL_REALTEK_BEE_TIM
	bool "Realtek Bee Timer HAL"

config HAL_REALTEK_BEE_ENHTIM
	bool "Realtek Bee Enhanced Timer HAL"

config HAL_REALTEK_BEE_UART
	bool "Realtek Bee UART HAL"

config HAL_REALTEK_BEE_USB
	bool "Realtek Bee USB HAL"

config HAL_REALTEK_BEE_AON_WDT
	bool "Realtek Bee AON Watchdog HAL"

config HAL_REALTEK_BEE_CORE_WDT
	bool "Realtek Bee Core Watchdog HAL"

menuconfig USE_REALTEK_BEE_OS_INTERFACE
	bool "Realtek Bee OS Interface (OSIF) Layer"
	select POLL
	help
	  Enable the Realtek Bee OS Interface (OSIF) abstraction layer.
	  This layer provides a unified API wrapper to ensure portability
	  across different underlying operating systems for Realtek Bee
	  family SoCs.

if USE_REALTEK_BEE_OS_INTERFACE

config REALTEK_BEE_OSIF_TIMER_MAX_COUNT
	int "Maximum number of timers"
	default 64
	range 0 255
	help
	  Set the maximum number of timer objects that can be allocated
	  simultaneously in the OSIF layer.

config REALTEK_BEE_OSIF_TASK_MAX_COUNT
	int "Maximum number of tasks"
	default 3
	range 0 255
	help
	  Set the maximum number of task (thread) objects supported by OSIF.

config REALTEK_BEE_OSIF_MSGQ_MAX_COUNT
	int "Maximum number of message queues"
	default 3
	range 0 255
	help
	  Set the maximum number of message queue objects supported by OSIF.

config REALTEK_BEE_OSIF_SEM_MAX_COUNT
	int "Maximum number of semaphores"
	default 3
	range 0 255
	help
	  Set the maximum number of semaphore objects supported by OSIF.

config REALTEK_BEE_OSIF_MUTEX_MAX_COUNT
	int "Maximum number of mutexes"
	default 3
	range 0 255
	help
	  Set the maximum number of mutex objects supported by OSIF.

endif # USE_REALTEK_BEE_OS_INTERFACE
