# Copyright (c) 2026 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config IR_BEE
	bool "IR driver for Realtek Bee series SoC"
	default y
	depends on DT_HAS_REALTEK_BEE_IR_ENABLED
	select USE_HAL_REALTEK_IR

	help
	  This option enables the IR driver for Realtek Bee SoCs.
