/ {
    /*RTL_DEBUG[🔧]provisioner:rtl8752h gpio led */
    aliases {
        sw0 = &button_0;
        led0 = &led_0;
    };

    gpio_keys {
		compatible = "gpio-keys";
		button_0: button_0 {
			    gpios = <&gpio 20 GPIO_ACTIVE_HIGH>;
		};
	};

    gpio-led {
		compatible = "gpio-leds";
		led_0: led_0 {
			gpios = <&gpio 31 GPIO_ACTIVE_HIGH>;
		};
	};
	
	
};

&gpio{
    status = "okay";
};


