# Copyright (c) 2026 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_GRTC_TIMER
	bool "Realtek GRTC timer"
	default n
	depends on DT_HAS_REALTEK_GRTC_TIMER_ENABLED
	select TICKLESS_CAPABLE
	select TIMER_HAS_64BIT_CYCLE_COUNTER
	select HAL_REALTEK_BEE_GRTC
	help
	  This module implements a kernel device driver for the Realtek GRTC timer,
	  and provides the standard "system clock driver" interfaces.
