# Copyright (c) 2026 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config CLOCK_CONTROL_BEE
	bool "clock controller driver for Realtek Bee series SoC"
	default y
	depends on DT_HAS_REALTEK_BEE_CCTL_ENABLED
	select USE_HAL_REALTEK_RCC
	help
	  This option enables the clock controller driver for Realtek Bee SoCs.
