# Copyright (c) 2026 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config UDC_BEE
	bool "UDC driver for Realtek Bee series SoC"
	default y
	depends on DT_HAS_REALTEK_BEE_UDC_ENABLED
	select USE_HAL_REALTEK_USB

	help
	  This option enables the UDC driver for Realtek Bee SoCs.
