# Copyright (c) 2026 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config AUDIO_BEE
	bool "CODEC controller driver for Realtek Bee series SoC"
	default y
	depends on DT_HAS_REALTEK_BEE_CODEC_ENABLED
	select I2S
	select USE_HAL_REALTEK_CODEC
	help
	  This option enables the CODEC driver for Realtek Bee SoCs.
