# RTL8752H codec configuration

# Copyright(c) 2024, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config AUDIO_RTL8752H
	bool "RTL8752H MCU codec controller driver"
	default y
	depends on DT_HAS_REALTEK_RTL8752H_CODEC_ENABLED
	select I2S
	select USE_HAL_REALTEK_CODEC
	help
	  Enable the RTL8752H codec driver.
