# Copyright (c) 2026 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config RTC_BEE
	bool "RTC driver for Realtek Bee series SoC"
	default n
	depends on DT_HAS_REALTEK_BEE_RTC_ENABLED
	select USE_HAL_REALTEK_RTC
	help
	  This option enables the RTC driver for Realtek Bee SoCs.
