# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_REALTEK_BEE
	select BUILD_OUTPUT_HEX
	select HAS_SEGGER_RTT if ZEPHYR_SEGGER_MODULE

if SOC_FAMILY_REALTEK_BEE

rsource "*/Kconfig"

config SOC_FAMILY_REALTEK_BEE_IMAGE_HEADER
	bool
	default y
	help
	  This config will prepend bee_image_header on the zephyr binary.


config CRYPTO_BEE_PSA_ACCELERATOR
	bool "Accelerate PSA cryptography using Realtek Bee hardware"
	depends on MBEDTLS
	default y
	select PSA_WANT_KEY_TYPE_AES
	select PSA_WANT_ALG_ECB_NO_PADDING
	select PSA_WANT_ALG_CBC_NO_PADDING
	select PSA_WANT_ALG_CBC_PKCS7
	select PSA_WANT_ALG_CFB
	select PSA_WANT_ALG_OFB
	select PSA_WANT_ALG_CTR
	select PSA_WANT_ALG_SHA_256
	select PSA_WANT_ALG_ECDH if SOC_SERIES_RTL87X2G
	select PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_BASIC if SOC_SERIES_RTL87X2G
	help
	  Route PSA AES and SHA-256 operations to the Realtek Bee hardware engine.
	  This also accelerates composite PSA algorithms such as CCM and
	  HMAC-SHA-256.

endif # SOC_FAMILY_REALTEK_BEE
