/*
 * Copyright (c) 2026, Realtek Semiconductor Corporation.
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;
#include <realtek/bee/rtl87x2j.dtsi>
#include <dt-bindings/pinctrl/rtl87x2j-pinctrl.h>
#include "rtl87x2j_evb_rtl8762jth-pinctrl.dtsi"

/ {
	model = "Realtek rtl87x2j evaluation board";
	compatible = "realtek,rtl87x2j_evb";

	chosen {
		zephyr,sram = &sram;
		zephyr,flash = &eflash;
		zephyr,flash-controller = &fmc;
		zephyr,code-partition = &slot0_partition;
		zephyr,console = &uart2;
		zephyr,shell-uart = &uart2;
		zephyr,bt-hci = &bee_bt_hci;
	};
};

&eflash_nvr {
	partitions {
		/* 0x2201000-0x2208800: Free space for Zephyr */
		storage_partition: partition@1000 {
			label = "storage";
			reg = <0x1000 DT_SIZE_K(30)>;
		};
	};
};

&cpu {
	clock-frequency = <40000000>;
};

&uart2 {
	pinctrl-0 = <&uart2_default>;
	pinctrl-1 = <&uart2_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";
	current-speed = <115200>;
	parity = "none";
	stop-bits = "1";
	data-bits = <8>;
};

&bee_bt_hci {
	status = "okay";
};
