# Copyright (c) 2026 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config I2C_BEE
	bool "I2C driver for Realtek Bee series SoC"
	default y
	depends on DT_HAS_REALTEK_BEE_I2C_ENABLED
	select USE_HAL_REALTEK_I2C
	help
	  This option enables the I2C driver for Realtek Bee SoCs.

if I2C_BEE

config I2C_BEE_INTERRUPT
	bool
	default n
	help
	  Do transfer with I2C interrupt.

endif
