# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config UART_BEE
	bool "Realtek Bee series UART driver"
	default y
	depends on DT_HAS_REALTEK_BEE_UART_ENABLED
	select HAL_REALTEK_BEE_UART
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	select PINCTRL
	help
	  This option enables the UART driver for Realtek Bee SoCs.

config UART_BEE_KEEP_ACTIVE_TIMEOUT_MSEC
	int "Milliseconds to keep active after UART RX wakeup"
	depends on SOC_SERIES_RTL87X2J
	default 5000
	help
	  Time to keep active after rx wakeup in milliseconds.
	  Note: This does not mean that the system will sleep immediately
	  after timeout, it depends on other check status.
